@charset "UTF-8";
@font-face {
    font-family: 'moralist sans';
    src: url('Moralist Sans.otf') format('opentype') ;
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor0 : #242226;
    --cor1 : #1DF2F2;
    --cor2 : #F24452;
    --cor3 : #41D958;
    --cor4 : #75D959;
}
* {
    margin: 0px;
}
body {
    min-width: 320px;
}
.navbar {
    margin: auto;
    max-width: 100%;
    min-width: 320px;
    max-height: 100px;
    min-height: 50px;
    background-color: #ff3c00;
    box-shadow: 0px 1px 11px; 
}
.navigation {
    display: flex;
    justify-content: space-evenly;
    max-width: 575px;
    width: 100%;
    padding-top:  10px;
    font-family: 'moralist sans', 'cursive';
    font-size: 1.5em;
    color: #242226;
}
a {
    text-decoration: none;
    color: white;
}
.hover:hover {
    background-color: white;
    transition-duration: .3s;
    color: #ff3c00;
    border-radius: 6px;
    padding: 5px;
}
.navigation :first-child {
    padding-right: 1em;
    padding-left: 20px;
}
main section {
    height: fit-content;
    margin:0%;
}

.tituloProjeto {
    display: flex;
    align-self: center;
    justify-content: center;
    font-family: 'moralist sans', 'cursive', 'sans serif';
    padding: 2%;
}
.outdoor {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    height: auto;
}

.explanation {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 60%;
    padding-top: 2%;
    padding-right: 20%;
    padding-left: 20%;
    text-align: center;
}

.divProjeto {
    color: #242226;
    min-width: 320px;
    max-width: 100%;
    font-family: 'moralist sans', 'cursive';
    font-size: 1rem;
    width: 100%;
    padding-top: 10%;

}