@charset "UTF-8";
@font-face {
    font-family: 'moralist sans';
    src: url('Moralist Sans.otf') format('opentype') ;
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor0 : #242226;
    --cor1 : #1DF2F2;
    --cor2 : #F24452;
    --cor3 : #41D958;
    --cor4 : #75D959;
}
* {
    margin: 0px;
}

body {
    min-width: 360px;
}
.navbar {
    max-width: 100%;
    min-width: 360px;
    height: 41px;
    background-color: #ff3c00;
    box-shadow: -1px -2px 13px;
}
.navigation {
    display: flex;
    justify-content: space-between;
    min-width: 360px;
    max-width: 600px;
    padding-top:  10px;
    font-family: 'moralist sans', 'cursive';
    font-size: 1.19em;
    box-sizing: content-box;
}
a {
    text-decoration: none;
    color: white;
}
.hover:hover {
    background-color: white;
    transition-duration: .2s;
    color: #ff3c00;
    border-radius: 6px;
    padding: 6px;
}
.navigation :first-child {
    padding-right: .3em;
    padding-left: .3em;
    margin-right: .7em;
}
main section {
    display: flex;
    height: 350px;
    padding-top: 12%;
    padding-left: 15%;
    margin:0%;
}
    
.hello {
    font-family: 'moralist sans', 'cursive';
    color: #ff3c00;
    letter-spacing: 0.4rem;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(2, 2, 0, 0.450);
}

blockquote{
    display: flex;
    justify-content: center;
    max-width: 100%;
    padding: 50px;
    margin: 0%;
    font-family: 'arial';
    color: #ff3c00;
    font-style: 400;
    font-size: 1rem;

}


footer {
    display: flex;
    justify-content: flex-end;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    
}
footer a {
    color: #ff3c00;
    font-family: Arial, Helvetica, sans-serif;
}