
img {
    width: 23rem;
    height: auto;
    border-radius: 1em;
    margin: 0 auto 1rem;
}
.projects > p {
    text-align: center;
    box-sizing: border-box;
    display: block;
    height: fit-content;
    padding: 1.5rem 2rem;
}